div#movies *{
    color: white;
    text-align: center;
  }
  div#movies img{
    height: 400px;
    width: 300px;
    margin-bottom: 10px;
    box-shadow: 5px 10px 8px rgb(0, 0, 0);
  }
  
  div#movies video{
    width: 400px;
    box-shadow: 5px 10px 8px rgb(0, 0, 0);
    margin-bottom: 15px;
  }
  div#movies button{
      background-image: linear-gradient(to right, rgb(209, 26, 26), rgb(88, 6, 6));
      color: white;
      border: 1px solid white;
      border-radius: 10%;
      padding: 10px;
      font-size: larger;
      /* outline: 3px dashed white;
      outline-offset: 3px; */
  }

  .rainbowText {
    font-family:arial black;
    background-image: 
      linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: move 35s linear infinite;
  }

  .moviePresentation p{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  hr {
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
  }

  @media (max-width: 800px) {
    .moviePresentation p{
     margin-left: auto;
     margin-right: auto;
     width: 100%;
   }
   }